@font-face {
  font-family: Aldrich;
  src: url(../fonts/Aldrich-Regular.ttf);
}

@font-face {
  font-family: Laceration;
  src: url(../fonts/Laceration.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  font-family: Aldrich, sans-serif;
  font-size: clamp(32px, 8vw, 60px);
  color: transparent;
  -webkit-text-stroke: 1px white;
}
h2 {
  font-family: Aldrich, sans-serif;
  font-size: clamp(30px, 8vw, 40px);
  color: white;
}
p {
  font-family: Aldrich, sans-serif;
  font-size: 18px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: transparent;
}

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../img/imagemFinal.png");
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.btn {
  background-image: url("../img/Botao_Rese.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 300px;
  background-size: 100% 100%;
  font-size: 24px;
}

.btn-reserva {
  width: 45%;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  font-family: Laceration;
}

.caixa2 {
  background-image: url("../img/Linhafi.png.png");
  height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caixa2-conteudo {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 20px 20px;
}

.Area1 {
  padding: 0 120px;
}

.textoembaixo {
  color: rgb(255, 255, 255);
  margin-left: 120px;
  margin-right: 120px;
}

.textoembaixo {
  margin-bottom: 50px;
  margin-top: 30px;
  line-height: 1.7;
  font-family: Aldrich;
}

.imagens {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.caixa4 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../img/imagem21.png.png");
  display: flex;
  height: 400px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caixa4-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Area2 {
  padding: 40px 120px 80px;
}

.imagemplanta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  background-color: #11111157;
  border-radius: 12px;
  width: 100%;
  padding: 30px 40px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.425); /* brilho branco suave */
  color: rgb(255, 255, 255);
}

.formulario h3 {
  text-align: center;
  font-family: Aldrich, sans-serif;
  font-size: 24px;
}

.texto3 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.imagensdadisco {
  margin-top: 70px;
}

.form-grupo {
  display: grid;
  gap: 10px;
}
@media (max-width: 768px) {
  .texto {
    font-size: 5rem;
  }

  .container {
    padding: 0 20px;
  }

  .container2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 30px;
  }
}

.caixa1 {
  display: flex;
  gap: 40px;
}

.botao-reservar-form {
  font-family: "Laceration", sans-serif;
  font-size: 24px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  padding: 40px 80px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.botao-reservar-form:hover {
  transform: scale(1.03);
}

.botao-form-Reservar {
  text-align: center;
  margin-top: 15px;
}
.botao-reservar-form {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.form-label {
  -webkit-text-stroke: 0.5px white;
  font-size: 23px;
  color: transparent;
}
.form-control {
  background: transparent;
  border-radius: 0;
  color: white;
  padding: 8px;
  border: 2px solid rgba(255, 255, 255, 0.336);
}

.form-control::placeholder {
  color: white;
}
.form-control:hover {
  background: transparent;
  color: white;
}

.form-label:hover {
  background: transparent;
}

.botao-form-Reservar {
  text-align: center;
}

.form-labelMen {
  margin-top: 10px;
  -webkit-text-stroke: 0.5px white;
  font-size: 23px;
  color: transparent;
}
