@font-face {
  font-family: Aldrich;
  src: url(../fonts/Aldrich-Regular.ttf);
}

@font-face {
  font-family: Laceration;
  src: url(../fonts/Laceration.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Aldrich, sans-serif;
  font-size: clamp(32px, 8vw, 60px);
  color: transparent;
  -webkit-text-stroke: 1px white;
}
h2 {
  font-family: Aldrich, sans-serif;
  font-size: clamp(30px, 8vw, 40px);
  color: white;
}
p {
  font-family: Aldrich, sans-serif;
  font-size: 18px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: transparent;
}

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../img/imagemFinal.png");
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.btn {
  background-image: url("../img/Botao_Rese.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 300px;
  background-size: 100% 100%;
  font-size: 24px;
}

.caixa2 {
  background-image: url("../img/Linhafi.png.png");
  height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caixa2-conteudo {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 20px 20px;
}

.textoembaixo {
  color: rgb(255, 255, 255);
  margin-left: 120px;
  margin-right: 120px;
}

.textoembaixo {
  margin-bottom: 80px;
  margin-top: 30px;
  line-height: 1.7;
  font-family: Aldrich;
}

.container {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: white;
  margin: 0 auto;
  padding: 0 150px;
}

.texto3 {
  font-family: Aldrich;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  background-color: black;
  border-color: black;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-size: 30px;
  font-family: Laceration;
}

.imagensdadisco {
  margin-top: 70px;
}

@media (max-width: 768px) {
  .texto {
    font-size: 5rem;
  }

  .container {
    padding: 0 20px;
  }

  .container2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 30px;
  }
}

.caixa1 {
  display: flex;
}
