@font-face {
  font-family: PressStart;
  src: url(../fonts/PressStart2P-Regular.ttf);
}

body {
  background-color: #0d0d0d;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Aldrich, sans-serif;
  font-size: clamp(32px, 8vw, 96px);
  color: transparent;
  -webkit-text-stroke: 2px white;
}
h2 {
  font-family: Aldrich, sans-serif;
  font-size: clamp(30px, 8vw, 40);
  color: white;
}
p {
  font-family: Aldrich, sans-serif;
  font-size: 18px;
  color: white;
}
.hero {
  height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero h1 {
  font-family: PressStart;
  font-size: 96px;
  color: white;
  text-shadow: 10px 10px 70px rgba(255, 0, 153, 0.5);
}

.titulo h1 {
  text-align: center;
  font-size: 48px;
}

.staff {
  margin-left: 140px;
}

.partes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 120px;
}

.partes-container h2 {
  font-family: Aldrich, sans-serif;
  color: white;
}
.part1,
.part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  box-sizing: border-box;
  font-size: clamp(30px, 8vw, 40);
  gap: 1rem;
}

.part1 img,
.part2 img {
  max-width: 100%;
  max-height: 100%;
}

.staff-background {
  position: relative;
  width: 100%;
}

/* Título já está ok com efeito texto */
.titulostaff {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  color: rgb(255, 255, 255);
}

.titulostaff h3 {
  font-family: Aldrich, sans-serif;
  font-size: clamp(32px, 8vw, 96px);
  color: transparent;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  margin: 0;
}


.staff-background img {
  height: auto;
  display: block;
}


.staff-icons {
  position: absolute;
  top: 40%; 
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 11;
}


.staff-icons img {
  height: auto;
}



