@keyframes aparecer {
    0% {
        transform: translateY(-250px);
  
    }
    100% {
        transform: translateY(0);
  
    }
  }

main{
    margin:0 10%;
}

h1{
    color:white;
    font-family: 'laceration';
}

p{
  color:white;
  font-size: 16px;
}

h2{
  -webkit-text-stroke: 1px white;
  color:transparent;
}

.titulo{
    align-items: center;
    text-align: center;
    height: 250px;
  }

#bannertext h1{
    font-family: Aldrich, sans-serif;
    font-size: clamp(32px, 8vw, 96px);
    color: transparent; 
}

.terc{
    -webkit-text-stroke: 2px #514252;
    opacity: 50% ;
    animation: aparecer 1.5s forwards;
    filter:blur(2px)
}
.seg{
    -webkit-text-stroke: 2px #b58fb7;
    position: relative; 
    top: -65px ; 
    opacity: 50%;
    animation: aparecer 1s forwards;
    filter:blur(1px)
}
.prim{
  -webkit-text-stroke: 2px white;
    position: relative; 
    top: -130px ; 
    animation: aparecer 0.5s forwards;
}

h3{
    size:24px;
    color: white;
    margin-top: 30px;
}

.container{
    text-align: center;
    margin:10px 0;
}

.botao{
    border:20px solid transparent;
    border-image: url("../img/caixa3.png") 30 round;
    display: inline-block;
    padding:0 20px;
}

.botao h2{
font-size: 36px;
color:transparent;
}

.direita{
    margin-left: auto;
}

.caixaimg {
    width: 300px;
    height: 267px;
    overflow: hidden;
    flex-shrink: 0;
    border:20px solid transparent;
    border-image: url("../img/caixa10.png") 30 round;
}

.caixaimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    padding:0 5px;
}

form label{
    color:white;
    font-size: 24px;
}

#titulo {
    width: 250px;  
    min-width: 250px;
    min-height: 45px;
    border-radius: 0%;
    background-color: grey;
    background-image: url("../img/caixabranca.png");
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 30px;
    overflow: hidden;
}

#descricao {
    width: 500px;  
    min-width: 500px;
    border-radius: 0%;
}

textarea{
    resize: none;
}

.caixa-com-cantos {
    position: relative;
    background: transparent;
    max-width: 100%;
    overflow: hidden; 
    width:520px;
    padding:10px;
  }
  
  .canto {
    position: absolute;
    width: 100px;
    height: auto;
    pointer-events: none;
    z-index: 0; 
  }
  .top-left {
    top: 0;
    left: 0;
  }
  .bottom-right {
    bottom: 0;
    right: 0;
  }

  .file-upload {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    background-color: #d9d9d9;
    width:500px;
    margin-left: 10px;
    justify-content: center;
  }

  .file-upload img {
    width: 65px;
    height: 63px;
  }

  .file-upload h3 {
    margin: 0;
    font-size: 36px;
    color: black;
  }

  #img {
    display: none;
  }
  .submit-btn{
    background-color: #492352;
    border-color: #cf44e9;
    font-size: 36px;
    padding:0 20px 10px 20px;
  }
  .submit-btn-container{
    width:500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  }

  .containersubmit {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%; 
    gap: 20px; 
}

.submitimg {
    flex: 1; 
    max-width: 45%;
}

.regras {
    flex: 1; 
    max-width: 45%;
}

@media(max-width:1080px) {
  .containersubmit {
    flex-direction: column;
  }

}

  @media (max-width: 995px){

    .terc{
      position:relative;
      top:40px;
  }
  .seg{
      position: relative; 
      top: 20px ;
      opacity: 50%;
  }
  .prim{
      position: relative; 
      top: 0px ; 
  }

    .titulo{
    height:30%;
  }
}
@media(max-width:500px) {
  .titulo{
    height:15%;
  }
    .file-upload {
    width:200%;
  }
}